pip install selenium webdriver-manager

In [6]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd

# Set up Selenium driver
options = webdriver.ChromeOptions()
options.add_argument("--headless")  # Run in headless mode
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=options)

# Navigate to Cintara testnet explorer
driver.get("https://testnet.cintara.io/tx")
time.sleep(5)  # Wait for JS to load data

# Scroll to load more (optional)
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
time.sleep(3)

# Find all transaction rows
rows = driver.find_elements(By.CSS_SELECTOR, "tr")

In [7]:
data = []
for row in rows[1:]:  # Skip header
    cells = row.find_elements(By.TAG_NAME, "td")
    if len(cells) < 8:
        continue
    data.append({
        "Txn Hash": cells[0].text,
        "Type": cells[1].text,
        "Block": cells[2].text,
        "From": cells[3].text,
        "To": cells[4].text,
        "Timestamp": cells[5].text,
        "Txn Fee": cells[6].text,
        "Value(CINT)": cells[7].text,
        "Status": cells[8].text if len(cells) > 8 else ""
    })

driver.quit()

# Convert to DataFrame
df = pd.DataFrame(data)
print(df.head())

            Txn Hash           Type   Block               From  \
0  0x7bf7d...e5f4b87  Coin_Transfer  485665  0x4E5FF...9CC3C31
1  0x4774f...a4fe408  Coin_Transfer  476179  0x400D4...d27cE1C
2  0xd6147...7613120  Coin_Transfer  469467  0x400D4...d27cE1C
3  0x08830...cbffce7  Coin_Transfer  463260  0x400D4...d27cE1C
4  0x75689...541cc33  Coin_Transfer  451243  0x400D4...d27cE1C

                  To                     Timestamp   Txn Fee Value(CINT)  \
0  0x1f434...88444e0  2d ago\nJul, 15, 2025, 03:03  0.000008         0.1
1  0xA48E1...a0D9630  2d ago\nJul, 14, 2025, 11:11         0          20
2  0x67694...b304ccf  3d ago\nJul, 13, 2025, 23:57         0          20
3  0x6bf85...1Aec29a  3d ago\nJul, 13, 2025, 13:34         0          20
4  0x75619...079EAB9  4d ago\nJul, 12, 2025, 17:27         0          20

    Status
0  Success
1  Success
2  Success
3  Success
4  Success

In [10]:
df

,Txn Hash,Type,Block,From,To,Timestamp,Txn Fee,Value(CINT),Status
0,0x7bf7d...e5f4b87,Coin_Transfer,485665,0x4E5FF...9CC3C31,0x1f434...88444e0,"2d ago\nJul, 15, 2025, 03:03",0.000008,0.1,Success
1,0x4774f...a4fe408,Coin_Transfer,476179,0x400D4...d27cE1C,0xA48E1...a0D9630,"2d ago\nJul, 14, 2025, 11:11",0,20,Success
2,0xd6147...7613120,Coin_Transfer,469467,0x400D4...d27cE1C,0x67694...b304ccf,"3d ago\nJul, 13, 2025, 23:57",0,20,Success
3,0x08830...cbffce7,Coin_Transfer,463260,0x400D4...d27cE1C,0x6bf85...1Aec29a,"3d ago\nJul, 13, 2025, 13:34",0,20,Success
4,0x75689...541cc33,Coin_Transfer,451243,0x400D4...d27cE1C,0x75619...079EAB9,"4d ago\nJul, 12, 2025, 17:27",0,20,Success
5,0xbef83...bc628fc,Coin_Transfer,445380,0x400D4...d27cE1C,0x6bf85...1Aec29a,"4d ago\nJul, 12, 2025, 07:39",0,20,Success
6,0x245d6...469c06d,Coin_Transfer,412232,0x400D4...d27cE1C,0xE6973...4ae24A4,"7d ago\nJul, 10, 2025, 00:11",0,20,Success
7,0x4cf33...45a0176,Coin_Transfer,384063,0x400D4...d27cE1C,0xE6973...4ae24A4,"9d ago\nJul, 8, 2025, 01:03",0,20,Success
8,0xc65bc...a5c4f4c,Coin_Transfer,373285,0x400D4...d27cE1C,0xC8dc3...f272c56,"9d ago\nJul, 7, 2025, 07:01",0,20,Success
9,0x9ee79...7390be4,Coin_Transfer,312730,0x400D4...d27cE1C,0x102C6...4Daf4Ee,"14d ago\nJul, 3, 2025, 01:44",0,20,Success

In [9]:
df.shape

(10, 9)

In [11]:
trx =df.to_csv("transactions.csv", index=False)  # Save to CSV